<div style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;">
<p>Hi <%= @user.name || @user.email_address %>,</p>

<p>Your NZ Tech Events account has been upgraded to an approved organiser. Any events you post from now on will be automatically approved and go live straight away.</p>

<p>You can also edit or delete your events at any time from the event page.</p>

<p>Thanks for being part of the community and an organiser, if you have any questions or requests. Please let me know at rowan.savage@gmail.com.

<p>Kind regards,<br>Rowan</p>
</div>
